.error-body {
	background-image: url("../images/jumbortonHomePage.png");
	padding-bottom: 0%;
	height: 90vh;
	text-align: center;
}

.error-header {
	padding-top: 4%;
}

.out {
	color: black;
}
.error-message {
	height: 75%;
}