.nav {
	border-bottom: 1px solid #eaeaeb;
	text-align: right;
	height: 80px;
	line-height: 70px;
	position: relative;
}

.menu a {
	clear: right;
	text-decoration: none;
	color: gray;
	margin: 0 10px;
	line-height: 70px;
}

#label {
	margin: 0 40px 0 0;
	font-size: 26px;
	line-height: 70px;
	display: none;
	width: 26px;
	float: right;
}
#toggle {
	display: none;
}

@media only screen and (max-width: 800px) {
	#label {
		display: block;
		cursor: pointer;
		padding-left: 60%;
	}
	.menu {
		text-align: center;
		width: 100%;
		display: none;
	}

	.menu a {
		display: block;
		background-color: white;
		border-bottom: 1px solid #eaeaeb;
		margin: 0;
	}
	#toggle:checked + .menu {
		display: block;
		z-index: 1;
	}
	.nav{
		display: flex;
		justify-content: space-evenly;
	}
}